body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* HEADER SECTION */

.header {
    background-color: #1F2937;
    color: white;
    font-size: 18px;
}

.headername {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin-right: auto;
}

.img_logo {
    height: 48px;
    width: 48px;
    margin: 0;
}

.header ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
    margin: 16px 150px;
    padding: 0;
    color: #E5E7EB;
}


/* CONTENT SECTION */

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* HOOK */

.hook {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 150px;
    gap: 64px;
}

.hook div {
    width: 350px;
    height: auto;
    flex: 0 1 auto;
}

.hook button {
    border: none;
    border-radius: 8px;
    background: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 8px 32px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.hook p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px 0;
}

.hook-img img {
    width: 300px;
    height: auto;
    max-width: 100%;
    min-width: 150px;
}


/* INFO */

.info {
    background-color: #f9faf8;
    flex: 1;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 32px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 64px;
    padding: 32px 0 64px 0;
}

.card-img {
    border: solid 5px #3882f6;
    border-radius: 10px;
    height: 150px;
    margin-bottom: 8px;
}

.card .card-txt {
    color: #1F2937;
    font-size: 16px;
    text-align: center;
    width: 150px;
}


/* REVIEW */

.review {
    background-color: #E5E7EB;
    color: #1F2937;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px;
}

.review-txt {
    font-size: 36px;
    width: 45%;
    margin: 0;
    text-align: justify;
}

.review-sign {
    font-weight: bold;
    width: 40%;
    text-align: right;
}


/* CTA */

.cta {
    background-color: #f9faf8;
    color: #1F2937;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-card {
    background-color: #3882f6;
    color: #E5E7EB;
    width: 50%;
    border-radius: 5px;
    margin: 64px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
    padding: 24px 0;
}

.cta-txt h3 {
    margin: 0;
    font-size: 24px;
}

.cta-txt p {
    margin: 0;
}

.cta-card button {
    background-color: #3882f6;
    border: solid 2px #E5E7EB;
    border-radius: 10px;
    color: #E5E7EB;
    padding: 8px 16px;
}


/* FOOTER SECTION */

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
}